{% extends "layout.html" %}




{% block body %}



<table>
	<tr>
	<th>ID</th>
	<th>User Name</th>
	<th>Password</th>
	<th>Hometown</th>
</tr>
	<tr>
		<td>1</td>
	</tr>
	<tr>
		<td>2</td>
	</tr>
</table>



</table><p>
<h3>Create account</h3>
<form action="{{url_for('create_account')}}" method="post"><br>
	Username
	<input type="text" name="user"><br>
	Password
	<input type="password" name="password"><br>
	Hometown
	<input type="text" name="hometown"><br>

 <button type="submit">Submit</button> 

</form>


{% endblock %}