{% extends "layout.html" %}


{% block body %}


<table>
	<tr>
	<th>ID</th>
	<th>Date</th>
	<th>Contents</th>

</tr>
	<tr>
		<td>1</td>
	</tr>
	<tr>
		<td>2</td>
	</tr>
</table><p>

<h3>Add Review</h3>
<form action="#" method="post"><br>
	Review Contents
	<input type="text"><br>
 <button type="button">Submit</button> 

</form><p>


<h3>Modify Review</h3>
<form action="#" method="post"><br>
	 <select name="cities">
  <option value="">Review 1</option>
  <option value="">Review 2</option>
</select><br>
	<input type="text"><br>
 <button type="button">Submit</button> 

<h3>Delete Review</h3>
 <select name="cities">
  <option value="">Review 1</option>
  <option value="">Review 2</option>
</select><br>
 <button type="button">Submit</button> 
</form>



{% endblock %}