{% extends "layout.html" %}


{% block body %}

<h5><strong>City Table</strong></h5>

<table>
	<tr>
	<th>ID</th>
	<th>City name</th>
	<th>Latitude</th>
	<th>Longitude</th>
	<th>State</th>
	<th>Country</th>
</tr>
	<tr>
		<td>1</td>
	</tr>
	<tr>
		<td>2</td>
	</tr>
</table>



</table><p>

<form action="#" method="post"><br>
	City Name
	<input type="text" name = "city"><br>
	Latitude
	<input type="number" step="0.0001" name = "latitude"><br>
	Longitude
	<input type="number" step="0.0001" name = "longitude"><br>
	State
	<input type="text" name = "state"><br>
	Country
	<input type="text" name = "country"><br>
 <button type="submit">Submit</button> 


</form>

{% endblock %}