{% extends "layout.html" %}




{% block body %}



</table><p>
<h3>Create account</h3>
<form action="{{url_for('create_account')}}" method="post"><br>
	Username
	<input type="text" name="user"><br>
	Password
	<input type="password" name="password"><br>


 <select name="city">
 	<option value="#" selected="selected">Select City</option>
 {% for item in cities %}
 
  <option value = "{{ item.idCities }}">{{ item.name }}</option>

{% endfor %}

 </select><br>


 <button type="submit">Submit</button> 

</form>


{% endblock %}