{% extends "layout.html" %}

{% block body %}

<main>
	<header>
		<h1>Gems:</h1>
		<form action="{{url_for('gems')}}">
			<h2>Filters:</h2>
			<label>
				City:
				<select name="city">
					<option value></option>
					{% for city in cities %}
						<option value="{{ city.idCities }}"
							{% if (filter_values['city'] == city.idCities) %}
								selected
							{% endif %}
						>
							{{ city.name }}
						</option>
					{% endfor %}
				</select>
			</label><br />
			<label>
				Type:
				<select name="type">
					<option value></option>
					{% for type in types %}
						<option value="{{ type.type }}"
							{% if (filter_values['type'] == type.type) %}
								selected
							{% endif %}
						>
							{{ type.type }}
						</option>
					{% endfor %}
				</select>
			</label><br/>
			<input type="submit" value="Apply Filters" />
			<a href="{{url_for('gems')}}">Reset Filters</a>
		</form>
		<br/>
		{% if session['logged_in'] %}
		Found somewhere cool? Make a <a href="{{ url_for('create_gem') }}">new Gem!</a>
		{% else %}
		You must be logged in to make a new gem. Login by clicking <a href="{{ url_for('login') }}"">here</a>.
		{% endif %}
	</header>


<!-- Display gems in cars -->

	{% for gem in gems | slice(2) %}
		<div class="row">
			{% for item in gem %}
			<div class="col-sm-6">
				<div class="card text-white bg-info mb-3">
					<h4 class="card-header">
						<a style="color: white" href="{{url_for('gem_solo', gemId = item.idGems)}}">{{ item.name }}</a>
					</h4>
					<div class="card-body">
						<h5 class="card-title">
						{% if item.discoveredByUsername == None %}
						Found By: A former Hidden Gems User
						{% else %}
						Found By: {{ item.discoveredByUsername }}
						{% endif %}

						</h5>
						<h6 class="card-subtitle mb-2 text-muted"> {{ item.type }}</h6>
						<p class="card-text"> {{ item.description }}</p>
						{% if 'logged_in' in session %}
								{% if item.idGems not in user_favorites %}
							<form action="{{url_for('add_favorite', gemId=item.idGems)}}" method="post">
								<button type="submit" class="btn btn-success">Favorite</button>
							</form>
							{% else %}
								<form action="{{url_for('remove_favorite', gemId=item.idGems)}}" method="post">
								<button type="submit" class="btn btn-danger">UnFavorite</button>
							</form>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	{% endfor %}

	
</main>

{% endblock %}
