{% extends "layout.html" %}

{% block body %}

<main>
	<header>
		<h1>Gems:</h1>
		<form action="{{url_for('gems')}}">
			<h2>Filters:</h2>
			<label>
				City:
				<select name="city">
					<option value></option>
					{% for city in cities %}
						<option value="{{ city.idCities }}"
							{% if (filter_values['city'] == city.idCities) %}
								selected
							{% endif %}
						>
							{{ city.name }}
						</option>
					{% endfor %}
				</select>
			</label><br />
			<label>
				Type:
				<select name="type">
					<option value></option>
					{% for type in types %}
						<option value="{{ type.type }}"
							{% if (filter_values['type'] == type.type) %}
								selected
							{% endif %}
						>
							{{ type.type }}
						</option>
					{% endfor %}
				</select>
			</label><br/>
			<input type="submit" value="Apply Filters" />
			<a href="{{url_for('gems')}}">Reset Filters</a>
		</form>
		<br/>
		{% if logged_in %}
		Found somewhere cool? Make a <a href="{{ url_for('create_gem') }}">new Gem!</a>
		{% else %}
		You must be logged in to make a new gem. Login by clicking <a href="{{ url_for('login') }}"">here</a>.
		{% endif %}
	</header>
	{% for gem in gems %}
		<section class="gem">
			<header>
				<a href="{{url_for('gem_solo', gemId = gem.idGems)}}">
					<h2>{{ gem.name }}</h2>
				</a> - {{ gem.type }}
				{% if gem.discoveredByUsername == None %}
					<p>Found By: A former Hidden Gems User</p>
				{% else %}
					<p>Found By: {{ gem.discoveredByUsername }}</p>
				{% endif %}
			</header>
			<p>{{ gem.description }}</p>
		</section>
	{% endfor %}
</main>

{% endblock %}
