{% extends "layout.html" %}

{% block body %}

<main>
	<header>
		<h1>Gems:</h1>
		<form action="{{url_for('gems')}}">
			<select name="city">
				<option value></option>
				{% for city in cities %}
					<option value="{{ city.idCities }}">
						{{ city.name }}
					</option>
				{% endfor %}
			</select>
			<input type="submit" value="Apply Filters" />
			<a href="{{url_for('gems')}}">Reset Filters</a>
		</form>
	</header>
	{% for gem in gems %}
		<section>
			<header>
				<a href="{{url_for('gem_solo', gemId = gem.idGems)}}">
					<h2>{{ gem.name }}</h2>
				</a>
				{% if (gem.discoveredByUsername == None) %}
					<p>Found By: A former Hidden Gems User</p>
				{% else %}
					<p>Found By: {{ gem.discoveredByUsername }}</p>
				{% endif %}
			</header>
			<p>{{ gem.description }}</p>
		</section>
	{% endfor %}
</main>

{% endblock %}
