{% extends "layout.html" %}




<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

	<title>Hidden Gems</title>


</head>
<body >

{% block body %}


<h3>Select City to Display Gems</h3>
<form> 

 <select name="cities">
 	<option value="#" selected="selected">Select City</option>
 {% for item in name %}

  <option value="{{ item.idCities }}">{{ item.name }}</option>
 
{% endfor %}
</select><br>
 <button type="button">Submit</button> 
</form>


<table>
	<tr>
		<th>Name</th>
		<th>Address</th>
		<th>type</th>
		<th>Description</th>
		<th>Location</th>
	</tr>

</table>

{% endblock %}

</body>
</html>