{% extends "layout.html" %}

{% block body %}

<main>
	<section>
		<header>
			<h2>{{ gem.name }}</h2>
			{% if ('username' in session and gem.discoveredByUsername == session['username']) %}
				<a href="{{ url_for('create_gem', gemId = gem.idGems) }}">Edit this Gem</a>
			{% endif %}
			{% if ('username' in session and gem.discoveredByUsername == session['username']) %}
				<a href="{{ url_for('delete_gem', gemId = gem.idGems) }}">Delete this Gem</a>
			{% endif %}
			{% if (gem.discoveredByUsername == None) %}
				<p>Found By: A former Hidden Gems User</p>
			{% else %}
				<p>Found By: {{ gem.discoveredByUsername }}</p>
			{% endif %}
			<p>⭐Favorited by {{ gem.stars }} people</p>
		</header>
		<p>{{ gem.description }}</p>
		<ul>
			{% for review in reviews %}
				<li>
					On {{ review.created }} {{ review.username }} said {{ review.contents }}
				</li>
			{% endfor %}
		</ul><p>
			{% if session['logged_in'] %}
					<h3> Add a new review </h3>
				<form id="review" method="POST" action="{{url_for('create_review', gemId = gem.idGems) }}">
				<textarea form="review" name="reviewtext" rows="10" cols="50"></textarea><br>
				<button type="submit">Submit</button> 
				</form>
			{% else %}
				You must be logged in to review gems. You can login by clicking <a href="{{ url_for('login') }}"">here</a>.
			{% endif %}
	</section>
</main>

{% endblock %}
