{% extends "layout.html" %}

{% block body %}

<main>
	<section>
		<header>
			<h2>{{ gem.name }}</h2>
			{% if ('username' in session and gem.discoveredByUsername == session['username']) %}
				<a href="{{ url_for('create_gem', gemId = gem.idGems) }}">Edit this Gem</a>
			{% endif %}
			{% if (gem.discoveredByUsername == None) %}
				<p>Found By: A former Hidden Gems User</p>
			{% else %}
				<p>Found By: {{ gem.discoveredByUsername }}</p>
			{% endif %}
			<p>⭐Favorited by {{ gem.stars }} people</p>
		</header>
		<p>{{ gem.description }}</p>
		<ul>
			{% for review in reviews %}
				<li>
					On {{ review.created }} {{ review.username }} said {{ review.contents }}
				</li>
			{% endfor %}
		</ul>
	</section>
</main>

{% endblock %}
